@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"Vazir";
    src: url('../src/assets/font/Vazir-Medium.ttf') format("truetype");
}
.font-vazir{
    font-family:"Vazir";
}